.container
{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.leftbox
{
  width: 38%;
  height: 100%;
  background-color: #0e0e0e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
  gap: 10px;
}

.leftbox .name
{
  color: #dac5a7;
  font-size: 20px;
}

.leftbox h1
{
  font-size: 100px;
}

.centerbox
{
  width: 24%;
  height: 100%;
  background-color: #dac5a7;
}

.rightbox
{
  width: 38%;
  height: 100%;
  background-color: #0e0e0e;
  color: white;
}

.container .leftbox button
{
  width: 200px;
  height: 55px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  background-color: #dac5a7;
  cursor: pointer;
}

.centerbox
{
  display: flex;
  align-items: end;
}

.centerbox img
{
  width: 400px;
  height: 550px;
}

.rightbox
{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  flex-direction: column;
  text-align: left;
  padding-right: 60px;
}

.rightbox p
{
  width: 400px;
  font-size: 20px;
}

.rightbox h2 p
{
  display: flex;
  color: #dac5a7;
  font-size: 30px;
  display: flex;
  gap: 20px;
}

.rightbox p:hover
{
  gap: 30px;
  transition: all ease-in-out  0.5s;
  cursor: pointer;
}

nav
{
  width: 100%;
  height: 80px;
  position: fixed;
}

ul
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li h1
{
  font-size: 50px;
}

li
{
  padding: 0px 60px;
  display: flex;
  gap: 40px;
  transition:all 0.6s;
}

li p
{
  font-size: 18px;
  color: #dac5a7;
}

.container2
{
  width: 100%;
  height: 100%;
  background-color: #dac5a7;
}

.container2 ul
{
  width: 100%;
  height: 100%;
  animation: banner 7s linear infinite;
}

.container2 ul li
{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(121, 75, 246);
  white-space: nowrap;
}

@keyframes banner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container3
{
  height: 100vh;
  width: 100vw;
  background-color:#0e0e0e;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  /* justify-content: space-between; */
}



.center3box
{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.center3box h1
{
  font-size: 50px;
}

.center3box .line1
{
  height: 50px;
  width: 3px;
  background-color: #dac5a7;
}

.container3 h3
{
  color: #dac5a7;
  margin-top: 80px;
}

.container3right
{
  width: 50%;
}

.container3left 
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section
{
  width: 100%;
  height: 100%;
}
.container3right
{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detailBox
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container3left .box
{
  box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.742);
}

.container3 .section 
{
  display: flex;
}

.section .container3left 
{
  width: 48%;
}

.container3right p
{
  color: #dac5a7;
}

.tabs
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,200px);
  grid-template-rows: repeat(2,80px);
  gap: 30px;
}

.tab p
{
  color: white;
}

.tab
{
  width: 200px;
  height: 80px;
  background-color:rgb(32, 32, 32);
  padding: 0px 15px;
  border-left: 5px solid #dac5a7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ring
{
  width: 50px;
  height: 50px;
  background-color: #dac5a7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 160px;
  z-index: 1;
}

.inring
{
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}

.container4
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
}

.topbox4
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.topbox4 h1
{
  font-size: 50px;
}


.line2
{
  width: 3px;
  height: 30px;
  background-color: #dac5a7;
}

.bottombox4
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btbox
{
  height: 400px;
  background-color: #22211e;
  width: 250px;
  border-radius: 10px;
  border: 2px solid #635a4e;
  padding: 15px 35px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btbox h1
{
  font-size: 40px;
}

.btbox p
{
  font-size: 15px;
  line-height: 22px;
}

.btbox .line3
{
  width: 30px;
  height: 3px;
  background-color: #dac5a7;
}

.skillboxcontainer
{
  display: flex;
  width: 100%;
  height: 100%;
}




